
<h1>Coupons:</h1>

  <% @coupons.each do |coupon| %>
    <%= link_to "Coupon Code: #{coupon.coupon_code}", coupon_path(coupon) %> <br>
    <%= link_to "Store: #{coupon.store}", coupon_path(coupon) %>
  <% end %>
